<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened fixedInViewport="true" fixedTopGap="60" class="sidenav">
        <mat-accordion displayMode="flat" multi="true">
            <mat-expansion-panel [class.mat-elevation-z0] class="custom-expansion-panel">
                <mat-expansion-panel-header collapsedHeight="35px" expandedHeight="35px">
                    Menu item 1
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
                </mat-nav-list>
            </mat-expansion-panel>
            <mat-expansion-panel [class.mat-elevation-z0]="true">
                <mat-expansion-panel-header collapsedHeight="35px" expandedHeight="35px">
                    Menu item 2
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content>

    </mat-sidenav-content>
</mat-sidenav-container>